.header {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  color: wheat;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.707);
}

.header-container {
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
}

.header-info {
  font-weight: 1000;
  font-size: 30px;
  text-decoration: none;
}

.logout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-username {
  font-weight: 700;
  font-size: 25px;
}

.material-ui-icon {
  cursor: pointer;
}
