.individual-order {
  padding: 40px 0px;
  width: 100%;
  margin: auto;
}

.order-row {
  width: calc(100vw / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.individual-order-row {
  display: flex;
}

.table-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
