.select-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.quantity-input {
  background-color: wheat;
  border-radius: 12px;
  margin-left: 7px;
}
.order-row-form {
  border-top: 2px solid gray;
  margin-top: 20px;
  padding-top: 20px;
}

.order-row-table {
  margin-top: 20px;
  width: 700px;
}

.before-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quantity-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wider {
  width: 130px;
}
